@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

/* Main styling */
:root{
    --mainTextColor:#000;
    --secondaryTextColor:rgb(51 51 51);
    --mainLinkColor:#0da2b8;
    --mainBorderColor:rgb(218, 218, 218);
    --mainBgColor:rgb(249, 250, 251);
    --hoverColor:#CBCBCB
}

html[data-theme='dark'] {
    --mainTextColor:#fff;
    --secondaryTextColor:#adb0b1;
    --mainLinkColor:rgb(30, 190, 214);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;
    --hoverColor:#2b3031
}

html[data-theme='light'] {
    --mainTextColor:#000;
    --secondaryTextColor:rgb(51 51 51);
    --mainLinkColor:#0da2b8;
    --mainBorderColor:rgb(218, 218, 218);
    --mainBgColor:rgb(249, 250, 251);
    --hoverColor:#CBCBCB
}


*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);

}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 810px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 3em;
    line-height: 1em;
}
#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


#email{
    color: var(--mainTextColor);
    transition: 0.3s;
}

#email:hover{
    color: var(--mainLinkColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-size: 0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
}

#socials--list a:hover{
    color: var(--mainLinkColor);
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}


.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.5s;
}

.card--techstack:hover{
    background-color: var(--hoverColor);
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
}

.card--project a:hover{
    color: var(--mainLinkColor)
}

/* Adjust for mobile */

@media(max-width:600px) {
    #wrapper--hero{
        flex-direction: column;
        padding-left:0.25em;
    }
    #profile-pic{
        margin-top: 25px;
        margin-bottom: -40px;
        width: 300px;
        height: 300px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card--work-history{
        border-left: none;
        padding-left: 1em;
    }
    .cond_reveal{
        position: relative;
        transform: translateY(15px);
        opacity: 0;
        transition: 0.70s all ease;
    }
    .cond_reveal.active{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Slow reveal of contents while scrolling */
.reveal{
    position: relative;
    transform: translateY(25px);
    opacity: 0;
    transition: 0.70s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/* Dark mode toggle */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    transform: scale(0.8);
    transform-origin: left;
}

.theme-switch-wrapper p {
    margin-left: 10px;
    font-size: 1rem;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}

.theme-switch input {
    display:none;
}

/* Slider styling */

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(36px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Slider labels */
.theme-switch .labels {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    transition: all 0.4s ease-in-out;
}

.theme-switch .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 7px;
    color: #4d4d4d;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.theme-switch .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 7px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.theme-switch input:checked~.labels::after {
    opacity: 0;
}

.theme-switch input:checked~.labels::before {
    opacity: 1;
}
